$purple: #6200ea;
$red: #e53935;
$green: #00bfa5;
$orange: #ff6d00;
$blue: #2962ff;

@mixin createBallColor($color) {
  $backgroundColor: scale-color($color, $lightness: 70%);
  $borderColor: $color;
  $textColor: scale-color($color, $lightness: -30%);

  background: $backgroundColor;
  border: 1px solid $borderColor;
  color: $textColor;

  &.ball--active {
    $backgroundColor: $color;
    $borderColor: $color;
    $textColor: white;

    color: $textColor;
    background: $backgroundColor;
    border-color: $borderColor;
  }
}

.ball {
  // Reset.
  border: 0;
  color: initial;
  margin: 0;
  padding: 0;

  // Custom.
  border-radius: 2px;
  cursor: pointer;
  display: block;
  font-weight: bold;
  height: 2rem;
  pointer-events: initial;
  transition: all 200ms;
  width: 2rem;

  &:hover {
    transform: scale(1.1);
  }

  &.ball--purple {
    @include createBallColor($purple);
  }
  &.ball--red {
    @include createBallColor($red);
  }
  &.ball--green {
    @include createBallColor($green);
  }
  &.ball--orange {
    @include createBallColor($orange);
  }
  &.ball--blue {
    @include createBallColor($blue);
  }
}
